body {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

p, em, strong {
	font-family: "DeJaVu Serif", "Times New Roman", serif
}

footer {
	margin-top: 2em;
	font-size: 75%;
	font-style: italic;
}

h1, h2, h3 {
	font-family: "DeJaVu Sans-Serif", Arial, sans-serif;
	margin-bottom: 0;
}

dt {
	font-weight: bold;
	width: 5em;
	text-align: right;
	margin-right: 0.2em;
	float: left;
	clear: left;
}

dt:after {
	content: ":";
}

dd {
	display: block;
	margin-left: 0;
}

#technical-expertise {
	width: 40em;
}

.left {
	float: right;
}
